[mysql]
no_auto_rehash
max_allowed_packet    = 16M
prompt                = '\u@\h [\d]> ' # 'user@host [schema]> '
default_character_set = utf8           # Possibly this setting is correct for most recent Linux systems

[mysqldump]
max_allowed_packet = 16M
